@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EDEAE3;
  --foreground: oklch(0.269 0 0);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #EDEAE3;
    --foreground: oklch(0.269 0 0);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, sans-serif;
  line-height: 1.4;
  font-size: 15.5px;
}

@font-face {
  font-family: 'Georgia';
  src: url('/fonts/GeorgiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
